.barriletes {
    height: 150px;
    width: 150px;
    border-style: solid;
    margin: 0.2em;
    display: inline-block;
    font-size: 1em;
}

.barriletes span {
    margin-top: 40px;
    margin-left: 40px;
    display: block;
}

.registros {
    height: 50px;
    width: 150px;
    border-style: solid;
    margin: 0.2em;
    display: inline-block;
    font-size: 1em;
    background-color: yellow;
}

.registros span {
    margin-top: 10px;
    display: block;
    margin-left: 10px;
}