.position {
	width: 900px; 
	height: 300px; 
	background: yellow; 
	position: relative;
}

.position-box {
	position: relative; 
	width: 60px; 
	height: 40px; 
	display: block;
	font-size: 15px;
	color:white;
}

.js-text {
	color:red;
	background: #ffa;
}

li {
	display:inline-block;
	padding-right: 10px;
}

s {
	background-color: yellow;
}
