
/* ESTO NO ME ESTABA FUNCIONANDO 7/1/2023

i {
	display:none;
}

li:hover + i {
	color:red;
	display:block;
}
*/

li:hover {
	color:green;
}

i {
	display: none;
	background-color: gray;
}

b:hover + i {
	display:inline;
}

